@tailwind base;
@tailwind components;
@tailwind utilities;

span {
  height: 4px;
  width: 25px;
  margin: 3px;
  background-color: rgb(238, 117, 137);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid black; */
  cursor: pointer;
}

.flexy {
  @apply flex items-center;
}

.fonts {
  @apply text-lg text-orange font-semibold uppercase;
}

h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
}

.btn{
    @apply py-4 px-10 bg-orange mt-8 rounded-[40px] text-[16px] text-white font-medium
}